*{
  padding: 0px;
  margin: 0px;

}

.myimage{
  height: 15px;
  display: inline-block;
}
.p{
  display: inline-block;
  align-self: center;
  margin-left: 4px;
}

.Navigation{
  background-color: #F55A5A;
  text-align: center;
  height:55px ;
  padding-top: 20px;

}




