*{
  padding: 0px;
  margin: 0px;

}

.myimage{
  height: 15px;
  display: inline-block;
}
.p{
  display: inline-block;
  align-self: center;
  margin-left: 4px;
}

.Navigation{
  background-color: #F55A5A;
  text-align: center;
  height:55px ;
  padding-top: 20px;

}
.my{
  display: flex;
  flex-direction: row;
  align-items: center;
   width: 470px;
   height: 168px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
}
.placeimage{
  width: 125px;
  height: 168px;
  border-radius: 5px;
  
}
.text{
    margin-bottom: 115px;
    margin-left: 5px;
}
.loc{
  height: 9.55px;
  font-size: 10.24px;
  width: 7;
  margin-bottom: 115px;
  margin-left: 18px;
}
.link{
  margin-bottom: 115px;
  margin-left: 10px;
  color: #918E9B;
}
.title{
  right: 650px;
  margin-bottom: 70px;
  position: absolute;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text{

}
.date{
  left: 900px;

  margin-bottom: 20px;
  position:absolute ;
  font-size: 10.24px;
}
.description{
  font-size: 10.24px;
  position: absolute;
  margin-bottom: -50px;
  margin-left: 145px;
  margin-right: 145px;
}